# Use a long listing format
alias ls=lsd
alias l='ls -1'
alias ll='ls -1A'
alias lll='ls -la'

# Prefer `bat` instead of `cat`
alias cat=bat

# Get rid of command not found
alias cd..='cd ..'
alias ..='cd ..'
alias ...='cd ../../'
alias .3='cd ../../../'
alias .4='../../../../'
alias .5='../../../../../'

# Colorize the grep command's output for ease of use(good for log files)
# -E: extended regular expression support
alias grep='grep --color=auto -E'
alias egrep='egrep --color=auto -E'
alias fgrep='fgrep --color=auto -E'
alias sed='sed -E'

# Start the calculator with math support
alias bc='bc -l'

# Show open ports
alias ports='netstat -tulanp'

# Generate SHA1 Digest
alias sha1='openssl sha1'

## Create parent directories on demand
# -p: create intermediate directories
# -v: be verbose, listing them as they're created
alias mkdir='mkdir -pv'

alias mount='mount |column -t'

alias h='history'
alias j='jobs -l'

### set vim as default
alias vi=vim
alias svi='sudo vi'
alias vis='vim "+set si"'
alias edit='vim'

alias path='echo -e ${PATH//:/\\n}'
alias now='date +"%T"'
alias nowtime=now
alias nowdate='date +"%d-%m-%Y"'

## SAFETY NETS
### do not delete/prompt if deleting more than 3 files at a time
# alias rm='rm -I --preserve-root'

### confirmation
alias mv='mv -i'
alias cp='cp -i'
alias ln='ln -i'
alias rm='rm -i'

alias reboot='sudo /sbin/reboot'
alias poweroff='sudo /sbin/poweroff'
alias halt='sudo /sbin/halt'
alias shutdown='sudo /sbin/shutdown'

### parenting changing permissions on /
alias chown='chown --preserve-root'
alias chmod='chmod --preserve-root'
alias chgrp='chgrp --preserve-root'

# continue from partially downloaded files
alias wget='wget -c'

alias diff='colordiff'

# Shorten the waiting interval in between
alias fastping='ping -c 100 -s.2'

#alias top='atop'
alias df='df -H'
alias du='du -ch'

# Make pip3 the default pip
alias pip=/usr/local/bin/pip3

# Clear the terminal window but also make the text above totally disappear
# '\e[3J' is a terminal escape command
# Based on https://askubuntu.com/questions/25077/how-to-really-clear-the-terminal
alias cls="clear && printf '\e[3J'"
